:root.theme-dark {
  --page-bg-img-dark: url("../images/cover-image-dark.png");
  --page-bg-dark: #000028;
  --header-discription-bg-color: #ff0070;
  --header-p-color: #000028;
  --header-title-color: #db00ff;
  --footer-title-color: #db00ff;
  --header-title-text-shadow: #ff0070;
  --footer-title-text-shadow: #ff0070;
  --accent-color: #ff0070;
  --accent-color-rgb: 255, 0, 112;
  --section-five-advice-title: #000028;
  --section-discription-color: #f1b2ce;
  --section-card-link-text-shadow: #ff0070;
  --section-card-link-hover: #f1b2ce;
  --rec-display: flex;
}
