:root.theme-light {
  --page-bg-img-dark: url("../images/cover-image-light.png");
  --page-bg-dark: #fff1f7;
  --header-discription-bg-color: #ff8dcb;
  --header-p-color: #353430;
  --header-title-color: #ffc2e6;
  --footer-title-color: #ffc2e6;
  --header-title-text-shadow: #ff8dcb;
  --footer-title-text-shadow: #ff8dcb;
  --accent-color: #353430;
  --accent-color-rgb: 53, 52, 48;
  --section-five-advice-title: #353430;
  --section-discription-color: #353430;
  --section-card-link-text-shadow: #ff8dcb;
  --section-card-link-hover: #353430;
  --rec-display: none;
}
@media (prefers-color-scheme: light) {
  :root {
    --page-bg-img-dark: url("../images/cover-image-light.png");
    --page-bg-dark: #fff1f7;
    --header-discription-bg-color: #ff8dcb;
    --header-p-color: #353430;
    --header-title-color: #ffc2e6;
    --footer-title-color: #ffc2e6;
    --header-title-text-shadow: #ff8dcb;
    --footer-title-text-shadow: #ff8dcb;
    --accent-color: #353430;
    --accent-color-rgb: 53, 52, 48;
    --section-five-advice-title: #353430;
    --section-discription-color: #353430;
    --section-card-link-text-shadow: #ff8dcb;
    --section-card-link-hover: #353430;
    --rec-display: none;
  }
}
