.page {
  background-image: var(--page-bg-img-dark);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--page-bg-dark);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr;
  row-gap: var(--header-gap);
  height: 100vh;
  min-height: 668px;
  padding: var(--header-padding);
}
.decorated-zone {
  position: relative;
}
.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-color: var(--accent-color);
  border-style: solid;
}
.decorated-zone::before {
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-block-start-width: 1px;
  border-inline-end-width: 1px;
  border-block-end-width: 0;
  border-inline-start-width: 0;
}
.decorated-zone::after {
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-block-end-width: 1px;
  border-inline-start-width: 1px;
  border-block-start-width: 0;
  border-inline-end-width: 0;
}
.header__theme-menu {
  grid-column: 2 / 3;
  justify-self: end;
}
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--header-theme-menu-list-gap);
}
.header__theme-menu-button {
  min-width: 70px;
  padding: 1px;
  background-color: transparent;
  border: transparent;
  font-family: var(--header-font-family), monospace;
  font-weight: normal;
  font-size: var(--header-font-size);
  text-transform: lowercase;
  color: var(--accent-color);
  cursor: pointer;
}
.header__theme-menu-button:hover {
  outline: none;
  border: 1px solid rgba(var(--accent-color-rgb), 0.4);
}
.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color);
}
.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--accent-color);
}
.header_title {
  grid-column: 1 / 3;
  align-self: center;
  padding-top: 10px;
  font-family: var(--header-font-family), monospace;
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--header-title-text-shadow);
}
.header_discription {
  grid-column: 1 / 3;
  width: 100%;
  min-height: min-content;
  background-color: var(--header-discription-bg-color);
}
.title-decor {
  font-family: var(--header-font-family), monospace;
  font-weight: bold;
  font-size: var(--header-font-size);
  color: var(--header-p-color);
}
.decorative-rec {
  position: absolute;
  display: var(--rec-display);
  align-items: center;
  inset-block-start: 10px;
  inset-inline-end: 19px;
  font-family: var(--header-font-family), monospace;
  font-size: var(--header-font-size);
  color: var(--accent-color);
  text-transform: uppercase;
}
.decorative-rec::after {
  content: "";
  display: block;
  inline-size: 9px;
  block-size: 9px;
  margin-inline-start: 10px;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
  padding: var(--main-padding);
}
.section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  justify-content: start;
  align-items: start;
  gap: var(--section-gap);
}
.section_concentrate_cards {
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
  row-gap: var(--section-gap);
}
.section_card {
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
  gap: var(--section-card-gap);
}
.section_card_attention_content {
  grid-column: 1 / 4;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  align-items: start;
  gap: var(--section-gap);
}
.section_picture {
  gap: var(--section-picture-gap);
}
.section_title {
  grid-column: 1 / 4;
  font-family: var(--section-title-font-family), monospace;
  font-weight: bold;
  font-size: var(--section-title-font-size);
  color: var(--accent-color);
  line-height: 1.3;
}
.section_card_title {
  width: 100%;
  min-height: min-content;
  background-color: var(--header-discription-bg-color);
}
.section_card_discription {
  font-family: var(--section-discription-font-family), monospace;
  font-weight: normal;
  font-size: var(--section-discription-font-size);
  color: var(--section-discription-color);
  line-height: 1.3;
}
.section_card_link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--section-card-link-text-shadow);
  cursor: pointer;
}
.section_card_link:hover {
  outline: none;
  border-bottom: 1px solid var(--section-card-link-hover);
}
.section_card_link:focus-visible {
  outline: 1px solid var(--section-card-link-hover);
}
.card_concentrate_multitasking {
  grid-column: 1 / 4;
}
.card_concentrate_dopamine {
  grid-column: 1 / 4;
}
.section_picture_title {
  grid-column: 1 / 4;
}
.section_gallery {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--section_gallery-gap);
  grid-template-areas:
    "sunset"
    "ice-cream"
    "tape"
    "books"
    "street";
}
.gallery_item {
  list-style: none;
  display: contents;
}
.section_advices {
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section_advices_title {
  font-family: var(--section-title-font-family), monospace;
  font-weight: normal;
  font-size: var(--section-title-font-size);
  color: var(--section-five-advice-title);
}
.gallery_picture {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery_sunset_img {
  grid-area: sunset;
}
.gallery_ice_cream_img {
  grid-area: ice-cream;
}
.gallery_tape_img {
  grid-area: tape;
}
.gallery_books_img {
  grid-area: books;
}
.gallery_street_img {
  grid-area: street;
}

.footer {
  display: flex;
  justify-content: center;
  padding: var(--footer-padding);
  height: 100vh;
  min-height: 668px;
}
.footer_title {
  align-self: center;
  font-family: var(--footer-font-family), monospace;
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  color: var(--footer-title-color);
  text-shadow: 2px 2px 0 var(--footer-title-text-shadow);
}

@media (min-width: 768px) {
  .header {
    grid-template-columns: 1fr 364px;
  }
  .header_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-top: 10px;
  }
  .section_concentrate_cards {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }
  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }
  .decorative-rec {
    inset-block-start: 20px;
    inset-inline-end: 29px;
  }
  .header_discription {
    grid-column: 2 / 3;
  }
  .section_title {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  .card_concentrate_multitasking {
    grid-column: 2 / 4;
  }
  .card_concentrate_dopamine {
    grid-column: 2 / 4;
  }
  .section_card_attention_content {
    grid-row: 3 / 4;
  }
  .section_picture_title {
    grid-column: 1 / 4;
  }
  .section_advices {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
  }
  .section_adviсe,
  .section_concentrate {
    grid-template-columns: 236px 1fr;
  }
  .section_gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
    grid-template-areas:
      "sunset    sunset    ice-cream"
      "tape      books     ice-cream"
      "tape      street    street";
  }
  .gallery_picture {
    display: inline;
    height: 100%;
  }
  .footer {
    justify-content: center;
  }
  .footer_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
@media (min-width: 1024px) {
  .header {
    grid-template-columns: 1fr 491px;
    grid-template-rows: auto 1fr auto;
  }
  .header_title {
    align-self: center;
    padding-top: 160px;
  }
  .header__theme-menu {
    grid-column: 1 / 3;
    justify-self: center;
    padding-left: 20px;
  }
  .header__theme-menu-list {
    flex-direction: row;
  }
  .section_adviсe,
  .section_concentrate {
    grid-template-columns: 315px 1fr;
  }
  .section_attention {
    gap: var(--section-gap);
  }
  .section_card_attention_content {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    align-items: start;
    gap: var(--section-gap);
  }
  .section_card {
    grid-column: auto;
  }
  .section_gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 315px 433px;
  }
}
